


<%= render :partial => "layouts/first" %>
<%= render :partial => "layouts/last" %>
<DIV id=ou4 style="position:absolute; left:10px; top:250px; width:981px; height:39px;;">

<h1><b><u> SHARE MY CAKE </h1>

<div>


<h3> A Share My Cake Birthday is an interesting way to make a difference to our world through celebrations. We encourage children to share their gifts to support any of the 9 causes on the occasion of their birthday. Our project provides the platform for children to participate in giving to worthy causes, by sharing what they receive on the occasion of their birthday. Children are empathic by nature and are naturally inclined to help, to give and to take action on a cause which appeals to them.
</h3>

<table border=4  ><td><h4>Share My Cake will help in creating a "giving generation" and improve awareness amongst children, thereby facilitating their transition into becoming socially responsible citizens. It will also help in reducing the unneccesary waste that typically accompanies most celebrations, help organisations with a definite social impact and give children an opportunity to be change agents- on an important occasion of their lives, year after year.
</h4> </td>
</table>


</div>
</DIV>
