<%= render :partial => "layouts/first" %>


<h1> admin page </h1>

<% if member_signed_in? %>
<%=@user = current_member.role%>
<h4><%= link_to "Logout", destroy_member_session_path, :method => :delete %></h4>
<h4><%= link_to "My Profile", edit_member_registration_path, :method => :get %></h4>



<% end %>
