<h5></h5>
<HTML><HEAD><meta http-equiv="content-type" content="text/html; charset=utf-8"><meta http-equiv="imagetoolbar" content="no"><link href="Resources/axurerppage.css" type="text/css" rel="stylesheet"></HEAD><BODY>
<script type="text/javascript">
function InitializeSubmenu(submenucontainerid, tablecellroid, tablecellid, fname) { 
var s = "";
s = s + "function " + fname + "() { ";
s = s + "document.getElementById(submenucontainerid).style.visibility='';";
s = s + "BringToFront(submenucontainerid);";
s = s + "}";
if ((index = navigator.userAgent.indexOf("MSIE")) >= 0)
s = s + "document.getElementById('" + tablecellid + "').attachEvent(\"onmouseover\", " + fname + ");";
else
s = s + "document.getElementById('" + tablecellid + "').addEventListener(\"mouseover\", " + fname + ", true);";
s = s + "document.getElementById(tablecellroid).onclick = function() {";
s = s + "if( document.createEvent ) {";
s = s + "var evObj = document.createEvent('MouseEvents');";
s = s + "evObj.initEvent( 'click', true, false );";
s = s + "document.getElementById(tablecellid).dispatchEvent(evObj);";
s = s + "} else if( document.createEventObject ) {";
s = s + "document.getElementById(tablecellid).fireEvent('onclick');";
s = s + "}";
s = s + "}";
eval(s);
}
</script>

<%= render :partial => "layouts/aft_signedin" %>
<%= render :partial => "layouts/last" %>
<DIV id=ou4 style="position:absolute; left:10px; top:200px; width:981px; height:39px;;">

<DIV id=ou0 style="position:absolute; left:0px; top:0px; width:981px; height:81px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:989px; height:89px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u0.png',sizingMethod='scale');
"><img style="width:989px; height:89px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u0.png" border="0" alt=""></span>

</DIV>
<DIV id=u0container style="position:absolute; left:0px; top:0px; width:981px; height:81px;; overflow:visible;">

<DIV id=u1 style="position:absolute; left:2px; top:32px; width:976px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u1_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u0 src="Resources/transparent.gif" style="position:absolute; left:0px; top:0px; width:980px; height:80px"  >

<DIV id=ou2 style="position:absolute; left:13px; top:11px; width:154px; height:60px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:162px; height:68px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u2.png',sizingMethod='scale');
"><img style="width:162px; height:68px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u2.png" border="0" alt=""></span>

</DIV>
	
<span style="position:absolute; left:833px; top:17px; width:5px; height:18px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u16.png',sizingMethod='scale');
"><img style="width:5px; height:18px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u16.png" border="0" alt=""></span>

<IMG id=u16 src="Resources/transparent.gif" style="position:absolute; left:832.5px; top:17px; width:2px; height:15px">

<span style="position:absolute; left:906px; top:19px; width:5px; height:18px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u17.png',sizingMethod='scale');
"><img style="width:5px; height:18px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u17.png" border="0" alt=""></span>

<IMG id=u17 src="Resources/transparent.gif" style="position:absolute; left:905.5px; top:19px; width:2px; height:15px">

<span style="position:absolute; left:898px; top:90px; width:68px; height:23px">
<span id=ou18 style="position:absolute;left:0px;top:0px;width:68px;height:23px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u18.png',sizingMethod='scale');
"><img style="width:68px; height:23px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u18.png" border="0" alt=""></span>
</span>
<IMG id=u18 src="Resources/transparent.gif" style="position:absolute; left:898px; top:90px; width:68px; height:23px"   >

<DIV id=u19 style="position:absolute; left:915px; top:92px; width:52px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u19_rtf><span style=" font-family:'Arial'; color:#F2F2F2; font-size:15px;"><b>Find</b></span></DIV></DIV>
<span style="position:absolute; left:73px; top:91px; width:5px; height:18px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u20.png',sizingMethod='scale');
"><img style="width:5px; height:18px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u20.png" border="0" alt=""></span>

<IMG id=u20 src="Resources/transparent.gif" style="position:absolute; left:72.5px; top:91px; width:2px; height:15px">

<span style="position:absolute; left:154px; top:91px; width:5px; height:18px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u21.png',sizingMethod='scale');
"><img style="width:5px; height:18px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u21.png" border="0" alt=""></span>

<IMG id=u21 src="Resources/transparent.gif" style="position:absolute; left:153.5px; top:91px; width:2px; height:15px">

<span style="position:absolute; left:300px; top:91px; width:5px; height:18px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u22.png',sizingMethod='scale');
"><img style="width:5px; height:18px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u22.png" border="0" alt=""></span>

<IMG id=u22 src="Resources/transparent.gif" style="position:absolute; left:299.5px; top:91px; width:2px; height:15px">

<DIV id=ou23 style="position:absolute; left:0px; top:119px; width:981px; height:672px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:989px; height:680px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u23.png',sizingMethod='scale');
"><img style="width:989px; height:680px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u23.png" border="0" alt=""></span>

</DIV>
<DIV id=u23container style="position:absolute; left:0px; top:119px; width:981px; height:672px;; overflow:visible;">

<DIV id=u24 style="position:absolute; left:2px; top:327.5px; width:976px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u24_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u23 src="Resources/transparent.gif" style="position:absolute; left:0px; top:119px; width:980px; height:671px"  >

<DIV id=ou25 style="position:absolute; left:20px; top:158px; width:223px; height:584px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:231px; height:592px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u25.png',sizingMethod='scale');
"><img style="width:231px; height:592px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u25.png" border="0" alt=""></span>

</DIV>
<DIV id=u25container style="position:absolute; left:20px; top:158px; width:223px; height:584px;; overflow:visible;">

<DIV id=u26 style="position:absolute; left:2px; top:283.5px; width:218px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u26_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u25 src="Resources/transparent.gif" style="position:absolute; left:20px; top:158px; width:222px; height:583px"  >

<DIV id=ou27 style="position:absolute; left:252px; top:158px; width:711px; height:621px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:719px; height:629px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u27.png',sizingMethod='scale');
"><img style="width:719px; height:629px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u27.png" border="0" alt=""></span>

</DIV>
<DIV id=u27container style="position:absolute; left:252px; top:158px; width:711px; height:621px;; overflow:visible;">

<DIV id=u28 style="position:absolute; left:2px; top:302px; width:706px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u28_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u27 src="Resources/transparent.gif" style="position:absolute; left:252px; top:158px; width:710px; height:620px"  >

<DIV id=ou29 style="position:absolute; left:280px; top:162px; width:681px; height:51px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:689px; height:59px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u29.png',sizingMethod='scale');
"><img style="width:689px; height:59px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u29.png" border="0" alt=""></span>

</DIV>
<DIV id=u29container style="position:absolute; left:280px; top:162px; width:681px; height:51px;; overflow:visible;">

<DIV id=u30 style="position:absolute; left:2px; top:17px; width:676px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u30_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u29 src="Resources/transparent.gif" style="position:absolute; left:280px; top:162px; width:680px; height:50px"  >

<DIV id=ou31 style="position:absolute; left:30px; top:170px; width:201px; height:251px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:209px; height:259px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u31.png',sizingMethod='scale');
"><img style="width:209px; height:259px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u31.png" border="0" alt=""></span>

</DIV>
<DIV id=u31container style="position:absolute; left:30px; top:170px; width:201px; height:251px;; overflow:visible;">

<DIV id=u32 style="position:absolute; left:2px; top:117px; width:196px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u32_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u31 src="Resources/transparent.gif" style="position:absolute; left:30px; top:170px; width:200px; height:250px"  >

<span style="position:absolute; left:273px; top:211px; width:668px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u33.png',sizingMethod='scale');
"><img style="width:668px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u33.png" border="0" alt=""></span>

<IMG id=u33 src="Resources/transparent.gif" style="position:absolute; left:273px; top:210.5px; width:665px; height:2px">

<DIV id=ou34 style="position:absolute; left:32px; top:435px; width:201px; height:228px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:209px; height:236px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u34.png',sizingMethod='scale');
"><img style="width:209px; height:236px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u34.png" border="0" alt=""></span>

</DIV>
<DIV id=u34container style="position:absolute; left:32px; top:435px; width:201px; height:228px;; overflow:visible;">

<DIV id=u35 style="position:absolute; left:2px; top:105.5px; width:196px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u35_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u34 src="Resources/transparent.gif" style="position:absolute; left:32px; top:435px; width:200px; height:227px"  >

<DIV id=ou36 style="position:absolute; left:296px; top:123px; width:448px; height:29px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:456px; height:37px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u36.png',sizingMethod='scale');
"><img style="width:456px; height:37px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u36.png" border="0" alt=""></span>

</DIV>
<DIV id=u36container style="position:absolute; left:296px; top:123px; width:448px; height:29px;; overflow:visible;">

<DIV id=u37 style="position:absolute; left:2px; top:6px; width:443px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u37_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u36 src="Resources/transparent.gif" style="position:absolute; left:296px; top:123px; width:447px; height:28px"  >



<DIV id=u40 style="position:absolute; left:68px; top:444px; width:125px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u40_rtf><span style=" font-family:'Arial'; color:#444444; font-size:15px;"><b>My Contribution</b></span></DIV></DIV>
<DIV id=u41 style="position:absolute; left:44px; top:471px; width:192px; height:33px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u41_rtf><span style=" font-family:'Arial'; color:#000000; font-size:15px;">Congrats !!!</span><span style=" font-family:'Arial'; color:#000000; font-size:13px;">&nbsp; so for you are contributed amount...</span></DIV></DIV>
<DIV id=u42 style="position:absolute; left:71px; top:514px; width:116px; height:24px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u42_rtf><span style=" font-family:'Arial'; color:#009900; font-size:21px;"><b></b></span></DIV></DIV>
<DIV id=u43 style="position:absolute; left:45px; top:547px; width:193px; height:32px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u43_rtf><span style=" font-family:'Arial'; color:#000000; font-size:13px;">to the good cause done by many different organisations</span></DIV></DIV>
<span style="position:absolute; left:43px; top:444px; width:16px; height:16px">
<span id=ou44 style="position:absolute;left:0px;top:0px;width:16px;height:16px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u44.png',sizingMethod='scale');
"><img style="width:16px; height:16px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u44.png" border="0" alt=""></span>
</span>
<IMG id=u44 src="Resources/transparent.gif" style="position:absolute; left:43px; top:444px; width:16px; height:16px"   >

<span style="position:absolute; left:0px; top:836px; width:983px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u45.png',sizingMethod='scale');
"><img style="width:983px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u45.png" border="0" alt=""></span>

<IMG id=u45 src="Resources/transparent.gif" style="position:absolute; left:0px; top:835.5px; width:980px; height:2px">


<DIV id=u67 style="position:absolute; left:76px; top:245px; width:97px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u67_rtf><span style=" font-family:'Arial'; color:#006699; font-size:13px;"><u><b><%= link_to "Create Event",  myevents_event_path %></b></u></span></DIV></DIV>
<DIV id=u67ann style="font-size:1px; position:absolute; left:164px; top:241px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u68 style="position:absolute; left:77px; top:216px; width:96px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u68_rtf><span style=" font-family:'Arial'; color:#006699; font-size:13px;"><%= link_to "My Profile", edit_member_registration_path, :method => :get %></span></DIV></DIV>
<DIV id=u68ann style="font-size:1px; position:absolute; left:164px; top:212px; width:1px; height:1px; overflow:visible"></DIV>

<span style="position:absolute; left:57px; top:216px; width:16px; height:16px">
<span id=ou69 style="position:absolute;left:0px;top:0px;width:16px;height:16px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u69.png',sizingMethod='scale');
"><img style="width:16px; height:16px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u69.png" border="0" alt=""></span>
</span>
<IMG id=u69 src="Resources/transparent.gif" style="position:absolute; left:57px; top:216px; width:16px; height:16px"   >

<span style="position:absolute; left:57px; top:246px; width:16px; height:16px">
<span id=ou70 style="position:absolute;left:0px;top:0px;width:16px;height:16px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u70.png',sizingMethod='scale');
"><img style="width:16px; height:16px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u70.png" border="0" alt=""></span>
</span>
<IMG id=u70 src="Resources/transparent.gif" style="position:absolute; left:57px; top:246px; width:16px; height:16px"   >

<DIV id=ou71 style="position:absolute; left:266px; top:228px; width:688px; height:202px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:696px; height:210px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u71.png',sizingMethod='scale');
"><img style="width:696px; height:210px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u71.png" border="0" alt=""></span>

</DIV>
<DIV id=u71container style="position:absolute; left:266px; top:228px; width:688px; height:202px;; overflow:visible;">

<DIV id=u72 style="position:absolute; left:2px; top:92.5px; width:683px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u72_rtf>&nbsp;</DIV></DIV>
</DIV>


<IMG id=u167 src="Resources/transparent.gif" style="position:absolute; left:284px; top:244px; width:16px; height:16px"   >

<span style="position:absolute; left:292px; top:465px; width:16px; height:16px">
<span id=ou168 style="position:absolute;left:0px;top:0px;width:16px;height:16px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u168.png',sizingMethod='scale');
"><img style="width:16px; height:16px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u168.png" border="0" alt=""></span>
</span>
<IMG id=u168 src="Resources/transparent.gif" style="position:absolute; left:292px; top:465px; width:16px; height:16px"   >

<span style="position:absolute; left:46px; top:602px; width:176px; height:30px">
<span id=ou169 style="position:absolute;left:0px;top:0px;width:176px;height:30px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u169.png',sizingMethod='scale');
"><img style="width:176px; height:30px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u169.png" border="0" alt=""></span>
</span>
<IMG id=u169 src="Resources/transparent.gif" style="position:absolute; left:46px; top:602px; width:176px; height:30px"   >

<DIV id=u169ann style="font-size:1px; position:absolute; left:213px; top:598px; width:1px; height:1px; overflow:visible"></DIV>

<DIV id=u170 style="position:absolute; left:56px; top:608px; width:179px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left; word-wrap:break-word;" >
<DIV id=u170_rtf><span style=" font-family:'Arial'; color:#F2F2F2; font-size:15px;"><b>View all contributions</b></span></DIV></DIV>
<span style="position:absolute; left:449px; top:8px; width:128px; height:128px">
<span id=ou171 style="position:absolute;left:0px;top:0px;width:128px;height:128px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Celebrant-after-login-page_files/u171.png',sizingMethod='scale');
"><img style="width:128px; height:128px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="Celebrant-after-login-page_files/u171.png" border="0" alt=""></span>
</span>
<IMG id=u171 src="Resources/transparent.gif" style="position:absolute; left:449px; top:8px; width:128px; height:128px"   >


<SCRIPT src="Celebrant-after-login-page_files/axurerp_pagespecificscript.js"></SCRIPT></BODY></HTML>
