<%= render :partial => "layouts/first" %>
<%= render :partial => "layouts/last" %>
<div  style="position:absolute; left:150px; top:150px; width:px; height:px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >

<h2>How it works...</h2>
<table cellspacing="20">

<tr><td> 1. Create a FREE account in Share My Cake </td></tr>

<tr> <td>2. Create an event in easy simple steps</td> </tr>

<tr><td> 3. Choose any social cause you want to participate and help them</td> </tr>

<tr><td> 4. Celebrate any events !!! ofcourse with different way</td> </tr>

</table>

<%= link_to 'Back', root_path %>
