
<%= render :partial => "layouts/aft_signedin" %>
<%= render :partial => "layouts/last" %>

<div  style="position:absolute; left:150px; top:150px; width:px; height:px; ; ; text-align: center ; font-family:Arial; text-align:left; word-wrap:break-word;" >


<h1> ADD CONTACT </h1>
<table border="5" cellspacing="20">
<%= render 'form' %>
</table>
<h3><%= link_to 'Back', contacts_path %></h3>
